.main {
   padding-top: 10.9375rem;
   padding-bottom: 4.125rem;
   position: relative;
}
.main::before {
   content: "";
   position: absolute;
   top: -2.375rem;
   left: -18.75rem; /* 300/1920 */
   width: 28.1875rem;
   height: 24.4375rem;
   border-radius: 100%;
   background-color: rgba(203, 0, 221, 0.3);
   filter: blur(12.5rem);
}
@media (max-width: 47.9988rem) {
   .main::before {
      top: -8.8125rem;
      left: -24.681934%; /* -97/393 */
      width: 13.8125rem;
      height: 24.125rem;
      background-color: rgba(83, 0, 112, 0.8);
   }
}
.main__background {
   /* padding-top: 2.6875rem; */
   padding-bottom: 6.5%;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100vw;
   z-index: -1;
}
.main__background img {
   height: 100%;
   width: 100%;
   object-fit: contain;
}
@media (min-width: 125rem) {
   .main__background {
      padding-bottom: 0;
   }
   .main__background img {
      object-fit: cover;
      overflow: visible;
   }
}
.main__container {
   display: flex;
   justify-content: space-between;
   /* align-items: end; */
   gap: 4.6875rem;
   position: relative;
   z-index: 2;
}
.main__content {
   flex: 0 1 44.4%; /* 630/1460 */
   font-family: "Satoshi-Medium";
   font-weight: 500;
   color: rgba(255, 255, 255, 0.8);
   opacity: 0;
   transform: translate(0, 15%);
}
.loaded .main__content._active {
   opacity: 1;
   transform: translate(0, 0);
   transition:
      opacity 1s 0.6s,
      transform 1s 0.6s;
}
.main__product-name {
   letter-spacing: 0.06em;
   padding-bottom: 0.5625rem;
   line-height: 137.5%; /* 22/16 */
   text-transform: uppercase;
   position: relative;
   display: inline-block;
}
.main__product-name:not(:last-child) {
   margin-bottom: 1.5rem;
}
.main__product-name::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   background: linear-gradient(
      90deg,
      rgba(189, 0, 255, 0) 0%,
      rgba(189, 0, 255, 0.4) 48.78%,
      rgba(189, 0, 255, 0.01) 99.99%,
      rgba(189, 0, 255, 0) 100%
   );
   width: 100%;
   height: 0.0625rem;
}
.main__title {
   color: #fff;
   font-family: "Satoshi-Bold";
   font-size: 5rem;
   font-weight: 700;
   line-height: 1.2; /* 6rem */
   letter-spacing: -0.02em;
}
.main__title:not(:last-child) {
   margin-bottom: 2.5rem;
}
.main__text {
   line-height: 1.5; /* 1.5rem */
   max-width: 30.625rem;
   position: relative;
   padding-left: 2.125rem;
   background: url("../img/icons/main-star.svg") 0 0 no-repeat;
   background-size: 1.375rem;
   transition: background-image 0.5s linear;
   cursor: default;
}
@media (any-hover: hover) {
   .main__text:hover {
      background-image: url("../img/icons/teal-star.svg");
   }
}
@media (any-hover: none) {
   .main__text:active {
      transition-duration: 0s;
      background-image: url("../img/icons/teal-star.svg");
   }
}
.main__text:not(:last-child) {
   padding-bottom: 2.5rem;
}
.main__buttons {
   display: flex;
   gap: 1.5rem;
}
.main__buttons:not(:last-child) {
   margin-bottom: 2.5rem;
}
.main__store-button {
}
.main__explore-button {
}
.main__social {
}
.social {
}
.social-main {
   flex-direction: column;
}
.social-main__title {
   color: #fff;
   font-family: "Satoshi-Bold";
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 0.08em;
   text-transform: uppercase;
   line-height: 135.714286%; /* 19/14 */
}
.social-main__title:not(:last-child) {
   margin-bottom: 0.75rem;
}
.social-main__list {
   display: flex;
   flex-wrap: wrap;
   gap: 0.75rem;
}
.social-main__item {
}
.social-main__link {
   border-radius: 0.25rem;
   border: 0.0625rem solid rgba(255, 255, 255, 0.1);
   width: 2.75rem;
   height: 2.75rem;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 0.5s linear;
   -webkit-tap-highlight-color: transparent;
   user-select: none;
}
@media (any-hover: hover) {
   .social-main__link:hover {
      animation: animate 3.5s linear infinite;
      background-color: rgba(189, 0, 255, 1);
   }
}
@media (any-hover: none) {
   .social-main__link:active {
      transition-duration: 0s;
      background-color: rgba(189, 0, 255, 0.36);
   }
}
.main__product {
   flex: 0 1 40.7%; /* 575/1460 */
}
.product-presentation {
   display: flex;
   flex-direction: column;
}
.product-presentation__images {
   position: relative;
   flex: 1 1 auto;
}
.product-presentation__images::before {
   content: "";
   position: absolute;
   right: -40.592334%; /* 233/574 */
   top: 17.421603%; /* 100/574 */
   width: 30.5rem;
   height: 26.4375rem;
   border-radius: 100%;
   background-color: rgba(203, 0, 221, 0.3);
   filter: blur(15.625rem);
   z-index: -1;
}
@media (max-width: 47.9988rem) {
   .product-presentation__images::before {
      top: -68.027211%; /* -200/294 */
      right: -28.5%;
      width: 13.8125rem;
      height: 24.125rem;
      background-color: rgba(83, 0, 112, 0.8);
      filter: blur(10.625rem);
   }
}
.product-presentation__image {
   padding-top: 2.25rem;
   position: relative;
   height: 100%;
   opacity: 0;
   transform: translate(0, 40%);
}
.loaded .product-presentation__image._active {
   opacity: 1;
   transform: translate(0, 0);
   transition:
      transform 0.8s 0.8s,
      opacity 0.5s 0.8s;
}
@media (max-width: 47.9988rem) {
   .product-presentation__image {
      transform: translate(0, 30%);
   }
   .loaded .product-presentation__image._active {
      transition:
         transform 0.8s 0.4s,
         opacity 0.5s 0.4s;
   }
}
.product-presentation__image::after {
   content: "";
   position: absolute;
   z-index: -1;
   bottom: -0.375rem;
   left: -33%;
   width: 100vw;
   height: 0.25rem;
   background: linear-gradient(90deg, rgba(189, 0, 255, 0) 1.52%, rgba(189, 0, 255, 0.3) 100%);
}
.product-presentation__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.8s linear;
}
@media (any-hover: hover) {
   .product-presentation__image:hover img {
      transform: scaleX(-1);
   }
}
.product-presentation__images:not(:last-child) {
   margin-bottom: 2.5rem;
}
.product-presentation__benefit-form-main {
   position: absolute;
   top: -1.5625rem;
   left: -5.73913%; /* -33/575 */
   opacity: 0;
   transform: translate(-6.25rem, -3.125rem);
}
.loaded .product-presentation__benefit-form-main._active {
   opacity: 1;
   transform: translate(0, 0);
   transition:
      transform 0.8s 1s,
      opacity 0.5s 1s;
}
.product-presentation__benefit-form {
   position: absolute;
   top: 26.641651%; /* 142/533 */
   right: -11.826087%; /* -68/575 */
   opacity: 0;
   transform: translate(6.25rem, 3.125rem);
}
.loaded .product-presentation__benefit-form._active {
   opacity: 1;
   transform: translate(0, 0);
   transition:
      transform 0.8s 1.2s,
      opacity 0.8s 1.2s;
}
@media (max-width: 99.375rem) {
   .product-presentation__benefit-form {
      right: -0.625rem;
   }
}
.benefit-form-text {
   color: #fff;
   font-family: "Satoshi-Medium";
   font-weight: 500;
   position: relative;
   line-height: 137.5%; /* 22/16 */
}
.benefit-form-text-dark {
   color: rgba(61, 222, 237, 0.8);
}
.benefit-form-main-text--1 {
   bottom: 8rem;
   left: 5.5625rem;
}
.benefit-form-main-text--2 {
   bottom: 6.75rem;
   left: -9.625rem;
}
.benefit-form-main-text--3 {
   bottom: 4.125rem;
   left: -1.1875rem;
}
.benefit-form-text--1 {
   bottom: 3.375rem;
   left: 1.3125rem;
}
.product-presentation__benefit {
}
.product-benefit {
   display: flex;
   flex-wrap: wrap;
   column-gap: 3.75rem;
   row-gap: 1.25rem;
}
.product-benefit__item {
   display: flex;
   align-items: center;
   gap: 1.5rem;
   cursor: default;
}
@media (any-hover: hover) {
   .product-benefit__item:hover .product-benefit__icon {
      transform: translateY(-0.3125rem);
   }
}
@media (any-hover: none) {
   .product-benefit__item:active .product-benefit__icon {
      transform: translateY(-0.3125rem);
   }
}
.product-benefit__icon {
   transition: transform 0.3s linear;
}
.product-benefit__icon--sport {
   padding-right: 0.1875rem;
}
.product-benefit__icon--education {
}
.product-benefit__type {
   color: rgba(255, 255, 255, 0.6);
   font-family: "Satoshi-Medium";
   font-size: 1.25rem;
   line-height: 135%; /* 27/20 */
   font-weight: 500;
}
@media (max-width: 80rem) {
   .main__title {
      font-size: 3.75rem;
   }
}
@media (max-width: 87.5rem) {
   .main {
      padding-bottom: 3.125rem;
   }
}
@media (max-width: 75rem) {
   .main {
      padding-bottom: 2.5rem;
   }
}
@media (max-width: 70rem) {
   .main {
      padding-top: 10.3125rem;
   }
   .main__container {
      flex-direction: column;
   }
   .product-presentation__images {
      display: flex;
      justify-content: center;
   }
   .product-presentation__image {
      padding-top: 0;
      width: 70%;
   }
   .product-presentation__image::after {
      left: -25%;
      bottom: -0.1875rem;
   }
   .product-presentation__benefit-form-main {
      top: -0.625rem;
      left: 20%;
   }
}
@media (max-width: 61.9988rem) {
   .main {
      padding-top: 8.125rem;
      padding-bottom: 2.1875rem;
   }
   .product-benefit {
      gap: 2.5rem;
   }
   .product-benefit__item {
      gap: 0.9375rem;
   }
}
@media (max-width: 47.9988rem) {
   .main {
      padding-top: 5.5rem;
      padding-bottom: 1rem;
   }
   .main__background {
      display: none;
   }
   .product-presentation__benefit-form-main {
      display: none;
   }
   .product-presentation__benefit-form {
      display: none;
   }
   .main__product-name {
      font-size: 0.875rem;
      line-height: 135.714286%; /* 19/14 */
      padding-bottom: 0.75rem;
      padding-left: 0.1875rem;
   }
   .main__title {
      font-size: 2.75rem;
   }
   .main__title:not(:last-child) {
      margin-bottom: 2rem;
   }
   .main__container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.375rem;
   }
   .main__text {
      font-size: 0.875rem;
      max-width: 100%;
      padding-left: 2rem;
      background-size: 1.25rem;
      background-position-y: 0.25rem;
   }
   .main__text:not(:last-child) {
      padding-bottom: 1.5rem;
   }
   .main__buttons {
      flex-direction: column;
      padding: 0 3rem;
   }
   .main__buttons:not(:last-child) {
      margin-bottom: 2.25rem;
   }
   .product-benefit {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1.5rem;
   }
   .product-benefit__item {
      gap: 0.75rem;
   }
   .product-benefit__type {
      font-size: 1rem;
   }
   .product-benefit__icon {
      padding-bottom: 0.125rem;
   }
   .product-benefit__icon--sport {
      padding: 0 0.125rem 0.125rem;
   }
   .product-benefit__icon--sport img {
      width: 1.125rem;
      height: 1.125rem;
   }
   .product-benefit__icon--education {
      padding-left: 0.3125rem;
   }
   .product-benefit__icon--education img {
      width: 1.375rem;
      height: 1.375rem;
   }
   .product-presentation__images {
      display: flex;
      justify-content: center;
   }
   .product-presentation__images:not(:last-child) {
      margin-bottom: 1.6875rem;
   }
   .product-presentation__image {
      padding-top: 0;
      /* width: 91%; */
   }
}
@media (max-width: 34.375rem) {
   .product-presentation__image {
      width: 91%;
   }
   .product-presentation__image::after {
      left: -10%;
   }
}
@media (max-width: 21.875rem) {
   .main__title {
      font-size: 1.875rem;
   }
   .main__title:not(:last-child) {
      margin-bottom: 1.25rem;
   }
}
@media (max-width: 21.875rem) {
   .main__buttons {
      padding: 0;
   }
}
